<div id="about">
  <div class="container">
    <div class="row">
      <div class="about-col-1">
        <h1 class="my-h1"><strong>ABOUT US</strong></h1>
        <p>
          We are a company of competence in logistics that was founded
          <br />
          and is driven by logistics specialists. With our long background in
          the industry,
          <br />
          there isn't a challenge we haven't faced. This is knowledge we now
          want to share with you.
          <br />
          As a technological partner, and not just a supplier, we become a
          mainstay for the entire company
        </p>
      </div>
      <div class="about-col-2">
        <img src="/public/images/undraw_logistics_x-4-dc.svg" >
      </div>
    </div>
  </div>
</div>