<div id="contact">
  <div class="container">
    <h1 class="my-h1"><strong>GET IN TOUCH</strong></h1>
    <div class="contact-list">
      <div>
        <i class="icon icon-2x icon-location"></i>
        <h2><strong>ADDRESS</strong></h2>
        <p><strong>T SOLUTIONS Office</strong></p>
        <p>6969 T.Anton Road
          <br />
          Loveland, JKP 80538</p>
      </div>
      <div>
        <i class="icon icon-2x icon-message"></i>
        <h2><strong>PHONE</strong></h2>
        <p><strong>T SOLUTIONS Office</strong></p>
        <p>070-111 22 33</p>
      </div>
      <div>
        <i class="icon icon-2x icon-mail"></i>
        <h2><strong>EMAIL</strong></h2>
        <p><strong>T SOLUTIONS Office</strong></p>
        <p>office@tsolutions.com</p>
        <p><strong>Request a Service</strong></p>
        <p>services@tsolutions.com</p>
      </div>
    </div>
  </div>
</div>