<div id="create-review">
  <h1>CREATE A REVIEW</h1>
  <form method="POST">
    <div>
      Name: <input type="text" name="name">
    </div>
    <div>
      Review: <input type="text" name="description">
    </div>
    <div>
      Grade: <input type="number" name="grade" min="1" max="10">
    </div>
    <div>
      <input type="submit" value="Add">
    </div>
  </form>
</div>