<div id="create-review">
  <form action="/reviews/delete-review" method="POST">
    <div class="form-group">
      <label class="form-label">Choose a review to delete</label>
      <select id="form-select" name="name">
        {{#each reviews}}
          <option >{{name}}</option>
        {{/each}}
      </select>
    </div>
        <div id="post">
      <input type="submit" value="Delete">
    </div>
  </form>
</div>