<div id="create-review">
  {{#if isLoggedIn}}
      <ul>
        <div class="faq-question">
          <h3>Q .</h3>
          <h4 id="my-h4">{{faq.question}}</h4>
        </div>
        <div class="faq-answer">
          <h3>A .</h3>
          <h4 id="answer-h4">{{faq.answer}}</h4>
        </div>
      </ul>
      <div id="faq-edit">
        <form action="/faq/delete/{{faq.id}}" method="POST">
          <input type="submit" value="Delete">
        </form>
        <a id="button-style-a" href="/update-faq/{{faq.id}}">Update</a>
      </div>

  {{/if}}
</div>
<!-- fixa delete buttonen -->