<div id="home">
  <h1 class="my-h1">
    <strong>WELCOME!</strong>
  </h1>
  <p class="my-p">We are a tech-driven company that offers you handmade
    logistics solutions.
    <br />
    Through smart, simple and flexible solutions - with a technological and
    <br />
    digital mindset - we provide you clear competitive advantages.
    <br />
    We call it
    <strong>LogTech</strong>
    -
    <strong>you call it unbeatable.</strong>
  </p>
</div>