{{#if failedToLogin}}
  <p class="my-p">Error: Wrong credentials</p>
{{/if}}

<form action="/login" method="POST">
  <div class="login-box">
    <h1 class="my-h1"><strong>LOGIN</strong></h1>
    <div class="textbox">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" placeholder="Username" name="username" />
    </div>
    <div class="textbox">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <input type="password" placeholder="Password" name="password" />
    </div>
    <input id="sign-in-btn" type="submit" type="button" type="btn" value="Sign in">
  </div>
</form>

<!--
<form action="/login" method="post">
  <div>
    Username: <input type="text" name="username">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  <input type="submit" value="Login">
</form> -->