<div id="services">
  <div class="container">
    <h1 class="my-h1"><strong>SERVICES</strong></h1>
    <div class="list">
      <div>
        <h2>Automation Robotics</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut
          perspiciatis earum. Consequuntur unde, quis sit quibusdam dignissimos.</p>
        <p class="button-style-p"><a id="button-style-a" href="">ORDER NOW</a></p>
      </div>
      <div>
        <h2>Integrate a New WMS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut
          perspiciatis earum. Consequuntur unde, quis sit quibusdam dignissimos.</p>
        <p class="button-style-p"><a id="button-style-a" href="">ORDER NOW</a></p>
      </div>
      <div>
        <h2>Optimized Logistics</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut
          perspiciatis earum. Consequuntur unde, quis sit quibusdam dignissimos.</p>
        <p class="button-style-p"><a id="button-style-a" href="">ORDER NOW</a></p>
      </div>
    </div>
  </div>
</div>