<div id="services">
  <div class="container">
    <h1 class="my-h1"><strong>SERVICES</strong></h1>
    {{#if isLoggedIn}}
      <div class="create-service-button">
        <a id="button-style-a" href="/services/create-service">Create Service</a>
      </div>
    {{/if}}
    {{#if services}}
      <div class="list">
        {{#each services}}
          <div>
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <a id="button-style-a" href="">Edit</a>
            <p class="button-style-p"><a
                id="button-style-a"
                href="/contact"
              >ORDER NOW</a></p>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>