<div id="services">
  {{#if isLoggedIn}}
    <div class="container">
      <div class="specific-list">
        <div class="">
          <h2>{{service.name}}</h2>
          <p>{{service.description}}</p>
          <div id="service-edit">
          <form action="/service/delete/{{service.id}}" method="POST">
            <input type="submit" value="Delete" />
          </form>
          <a id="button-style-a" href="/update-service/{{service.id}}">Update</a>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>